<div class="container">
	<h1>Departments</h1>
	<div ng-if="isMsg" class="alert alert-info">
	  <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  {{message}}
	</div>

	<div ng-if="isErr" class="alert alert-danger">
	  <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  {{errMessage}}
	</div>

	<a href="#/department/new">Create new department</a>
	<table id="departments" cellspacing="0" width="100%" datatable="ng" class="row-border hover">
		<thead>
		    <tr>
		      <th>Name</th>
		      <th>Purpose</th>
		      <th>Location</th>
		      <th>Company</th>	      	      
		      <th></th>
		    </tr>
	  	</thead>
	  	<!--<tfoot>
		    <tr>
		      <th>Name</th>
		      <th></th>
		    </tr>
	  	</tfoot>-->
		<tbody>
			<tr ng-repeat="department in departments" >
				<td>{{department.name | capitalize}}</td>
				<td>{{department.purpose}}</td>
				<td>{{department.location}}</td>
				<td>{{department.company.name}}</td>							
				<td>
					<a href="#/department/edit/{{department.id}}" class="btn btn-primary">Edit</a>
					<a href="javascript:void(0)" class="btn btn-danger" ng-click="deleteDepartment(department.id, department.name)">Delete</a>
				</td>
			</tr>			
		</tbody>
	</table>
</div>
