<fieldset>
  <div class="container">
      <div ng-if="isMsg" class="alert alert-success">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{message}}
      </div>

      <div ng-if="isErr" class="alert alert-danger">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{errMessage}}
      </div>
    
      <form id="create-user-form" class= "well form-horizontal" name="createUser">

        <legend ng-show="selectedEmployee.full_name.length>0">Create user for {{selectedEmployee.full_name}}</legend>
      	<legend ng-hide="selectedEmployee.full_name.length>0">Create user</legend>
          
        <div class="form-group" ng-class="{'has-error':createUser.employee.$invalid && createUser.employee.$dirty}">         
          <div class="col-md-4 inputGroupContainer" ng-show="selectedEmployee.full_name.length>0">
            <div class="input-group">
              <input type="hidden" class="form-control" name="employee" ng-model="selectedEmployee.id">                  
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error':createUser.user_name.$invalid && createUser.user_name.$dirty}">
          <label class="col-md-4 control-label">User Name</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="User Name" name="user_name" ng-model="createUserForm.user_name" ng-maxlength="10" ng-minlength="4" required ng-blur="validateUserExist(createUserForm.user_name)">
                  <span class="help-block has-error" ng-if="createUser.user_name.$dirty">
                    <span ng-show="createUser.user_name.$error.required">User Name is required.</span>
                    <span ng-show="createUser.user_name.$error.maxlength">The name cannot be more than 10 characters.</span>
                    <span ng-show="createUser.user_name.$error.minlength">The name cannot be less than 4 characters.</span>
                    <span ng-show="isUserExist" class="help-block">User name is already taken.</span>
                  </span>
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error':createUser.password.$invalid && createUser.password.$dirty}">
          <label class="col-md-4 control-label">Password</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <input type="password" class="form-control" name="password" ng-model="createUserForm.password" ng-maxlength="10" ng-minlength="6" required>
                  <span class="help-block has-error" ng-if="createUser.password.$dirty">
                    <span ng-show="createUser.password.$error.required">Password is required.</span>
                    <span ng-show="createUser.password.$error.maxlength">The password cannot be more than 10 characters.</span>
                    <span ng-show="createUser.password.$error.minlength">The password cannot be less than 4 characters.</span>
                  </span>
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error':createUser.confirm_password.$invalid && createUser.confirm_password.$dirty}">
        	<label class="col-md-4 control-label">Confirm Password</label>
     			<div class="col-md-4 inputGroupContainer">
    				<div class="input-group">
  	  				<input type="password" class="form-control" name="confirm_password" ng-model="createUserForm.confirm_password" ng-maxlength="10" ng-minlength="6" match-password="password" required>
  	            	<span class="help-block has-error" ng-if="createUser.confirm_password.$dirty">
  	            		<span ng-show="createUser.confirm_password.$error.required">Password is required.</span>
                    <span ng-show="createUser.confirm_password.$error.maxlength">The password cannot be more than 10 characters.</span>
  	            		<span ng-show="createUser.confirm_password.$error.minlength">The password cannot be less than 4 characters.</span>
                    <span ng-show="createUser.confirm_password.$error.passwordMatch">Your passwords did not match</span>
  	          		</span>
      			</div>
    			</div>
    		</div>       		

        <div class="form-group">
    			<label class="col-md-4 control-label"></label>
    			<div class="col-md-4">
    				<button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="createUser.$invalid || isCompanyExist || isUserExist " ng-click="createNewUser()">
  	        		<span ng-hide="createUserForm.loading">Create User <span class="glyphicon glyphicon-send"></span></span>
  	        		<span class="overlord-loading-spinner fa fa-spinner" ng-show="createUserForm.loading" > <span class="glyphicon glyphicon-send"></span></span>
  	        		<span ng-show="createUserForm.loading">Preparing your new user...<span class="glyphicon glyphicon-send"></span></span>
        			</button>
        			<a href="#/users" class="btn btn-primary btn-lg btn-block">Back</a>
    			</div>
  		  </div>
  	</form>    
  </div>
</fieldset> 