<fieldset>
  <div class="container">
      <div ng-if="isMsg" class="alert alert-success">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{message}}
      </div>

      <div ng-if="isErr" class="alert alert-danger">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{errMessage}}
      </div>
    
      <form id="create-employee-form" class= "well form-horizontal" name="createEmployee">
      	<legend>Create Employee</legend>

        <div class="form-group" ng-class="{'has-error':createEmployee.salutation.$invalid && createEmployee.salutation.$dirty}">
          <label class="col-md-4 control-label">Salutation</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <select class="form-control" ng-model="createEmployeeForm.salutation" ng-options="salutation for salutation in salutations" required>
                    <option value="">Select salutation</option>
              </select>
              <span class="help-block has-error" ng-if="createEmployee.salutation.$dirty">
                <span ng-show="createEmployee.name.$error.required">Salutation is required.</span>                
              </span>
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error':createEmployee.first_name.$invalid && createEmployee.first_name.$dirty}">
          <label class="col-md-4 control-label">First name</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="First name" name="first_name" ng-model="createEmployeeForm.first_name" ng-maxlength="20" required>
              <span class="help-block has-error" ng-if="createEmployee.first_name.$dirty">
                <span ng-show="createEmployee.first_name.$error.required">First name is required.</span>
                <span ng-show="createEmployee.first_name.$error.maxlength">The first name cannot be more than 20 characters.</span>             
              </span>
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error':createEmployee.middle_name.$invalid && createEmployee.middle_name.$dirty}">
          <label class="col-md-4 control-label">Middle name</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Middle name" name="middle_name" ng-model="createEmployeeForm.middle_name" ng-maxlength="20">
              <span class="help-block has-error" ng-if="createEmployee.middle_name.$dirty">
                <span ng-show="createEmployee.middle_name.$error.maxlength">The middle name cannot be more than 20 characters.</span>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error':createEmployee.last_name.$invalid && createEmployee.last_name.$dirty}">
          <label class="col-md-4 control-label">Last name</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Last name" name="last_name" ng-model="createEmployeeForm.last_name" ng-maxlength="20" required>
              <span class="help-block has-error" ng-if="createEmployee.last_name.$dirty">
                <span ng-show="createEmployee.last_name.$error.required">Last name is required.</span>
                <span ng-show="createEmployee.last_name.$error.maxlength">The last name cannot be more than 20 characters.</span>             
              </span>
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error':createCompany.pincode.$invalid && createCompany.emp_id.$dirty}">
            <label class="col-md-4 control-label">emp_id</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <input type="number" class="form-control" placeholder="411058" name="emp_id" ng-model="createCompanyForm.emp_id" required ng-maxlength="6" ng-minlength="6" ng-pattern="/^[0-9]+$/">
                  <span class="help-block has-error" ng-if="createCompany.pincode.$dirty">
                    <span ng-show="createCompany.pincode.$error.required">emp_id is required.</span>
                    <span ng-show="createCompany.pincode.$error.maxlength">The emp_id cannot be more than 6 numbers.</span>
                    <span ng-show="createCompany.pincode.$error.number">Not valid emp_id!</span>
                    <span ng-show="createCompany.pincode.$error.minlength">The emp_id cannot be less than 6 numbers.</span>
                    <span ng-show="createCompany.pincode.$error.pattern">The emp_id cannot be negative.</span>
                  </span>
            </div>
          </div>
        </div>

          
      <div class="form-group" ng-class="{'has-error':createCompany.address.$invalid && createCompany.address.$dirty}">
      	<label class="col-md-4 control-label">Address</label>
      	<div class="col-md-4 inputGroupContainer">
      		<div class="input-group">
      			<textarea class="form-control" placeholder="Address" name="address" ng-model="createCompanyForm.address" required ></textarea>
          		<span class="help-block has-error" ng-if="createCompany.address.$dirty">
          			<span ng-show="createCompany.address.$error.required">Address is required.</span>            
        			</span>
  			</div>
			</div>
		</div>

    		<div class="form-group" ng-class="{'has-error':createCompany.country.$invalid && createCompany.country.$dirty}">
          	<label class="col-md-4 control-label">Country</label>
          	<div class="col-md-4 inputGroupContainer">
          		<div class="input-group">
          			<input type="text" class="form-control" placeholder="e.g. India" name="country" ng-model="createCompanyForm.country" required >
              		<span class="help-block has-error" ng-if="createCompany.country.$dirty">
              			<span ng-show="createCompany.country.$error.required">Country is required.</span>            
            			</span>
      			</div>
    			</div>
    		</div>

    		<div class="form-group" ng-class="{'has-error':createCompany.state.$invalid && createCompany.state.$dirty}">
          	<label class="col-md-4 control-label">State</label>
          	<div class="col-md-4 inputGroupContainer">
          		<div class="input-group">
          			<input type="text" class="form-control" placeholder="e.g. Maharashtra" name="state" ng-model="createCompanyForm.state" required >
              		<span class="help-block has-error" ng-if="createCompany.state.$dirty">
              			<span ng-show="createCompany.state.$error.required">State is required.</span>            
            			</span>
      			</div>
    			</div>
    		</div>

    		<div class="form-group" ng-class="{'has-error':createCompany.city.$invalid && createCompany.city.$dirty}">
          	<label class="col-md-4 control-label">City</label>
          	<div class="col-md-4 inputGroupContainer">
          		<div class="input-group">
          			<input type="text" class="form-control" placeholder="e.g. Pune" name="city" ng-model="createCompanyForm.city" required >
              		<span class="help-block has-error" ng-if="createCompany.city.$dirty">
              			<span ng-show="createCompany.city.$error.required">City is required.</span>            
            			</span>
      			</div>
    			</div>
    		</div>

    		<div class="form-group" ng-class="{'has-error':createCompany.pincode.$invalid && createCompany.pincode.$dirty}">
          	<label class="col-md-4 control-label">Pincode</label>
          	<div class="col-md-4 inputGroupContainer">
          		<div class="input-group">
          			<input type="number" class="form-control" placeholder="411058" name="pincode" ng-model="createCompanyForm.pincode" required ng-maxlength="6" ng-minlength="6" ng-pattern="/^[0-9]+$/">
              		<span class="help-block has-error" ng-if="createCompany.pincode.$dirty">
              			<span ng-show="createCompany.pincode.$error.required">Pincode is required.</span>
              			<span ng-show="createCompany.pincode.$error.maxlength">The pincode cannot be more than 6 numbers.</span>
              			<span ng-show="createCompany.pincode.$error.number">Not valid pincode!</span>
              			<span ng-show="createCompany.pincode.$error.minlength">The pincode cannot be less than 6 numbers.</span>
              			<span ng-show="createCompany.pincode.$error.pattern">The pincode cannot be negative.</span>
            			</span>
      			</div>
    			</div>
    		</div>


    		<div class="form-group" ng-class="{'has-error':createCompany.phone_no.$invalid && createCompany.phone_no.$dirty}">
          	<label class="col-md-4 control-label">Phone no.</label>
          	<div class="col-md-4 inputGroupContainer">
          		<div class="input-group">
          			<input type="number" class="form-control" placeholder="912448798" name="phone_no" ng-model="createCompanyForm.phone_no" required ng-pattern="/^[0-9]+$/">
              		<span class="help-block has-error" ng-if="createCompany.phone_no.$dirty">
              			<span ng-show="createCompany.phone_no.$error.required">Phone no. is required.</span>
              			<span ng-show="createCompany.phone_no.$error.number">Not valid phone no!</span>
              			<span ng-show="createCompany.phone_no.$error.pattern">The phone no cannot be negative.</span>        
            			</span>
      			</div>
    			</div>
    		</div>

    		<div class="form-group" ng-class="{'has-error':createCompany.mobile_no.$invalid && createCompany.mobile_no.$dirty}">
          	<label class="col-md-4 control-label">Mobile no.</label>
          	<div class="col-md-4 inputGroupContainer">
          		<div class="input-group">
          			<input type="number" class="form-control" placeholder="9999988888" name="mobile_no" ng-model="createCompanyForm.mobile_no" required ng-maxlength="10" ng-minlength="10" ng-pattern="/^[0-9]+$/">
              		<span class="help-block has-error" ng-if="createCompany.mobile_no.$dirty">
              			<span ng-show="createCompany.mobile_no.$error.required">Mobile no. is required.</span>
              			<span ng-show="createCompany.mobile_no.$error.maxlength">The mobile no cannot be more than 10 numbers.</span>
              			<span ng-show="createCompany.mobile_no.$error.number">Not valid mobile no!</span>
              			<span ng-show="createCompany.mobile_no.$error.minlength">The mobile no cannot be less than 10 numbers.</span>
              			<span ng-show="createCompany.mobile_no.$error.pattern">The mobile no cannot be negative.</span>          
            			</span>
      			</div>
    			</div>
    		</div>

          <div class="form-group" ng-class="{'has-error':createCompany.companyType.$invalid && createCompany.companyType.$dirty}">
          	<label class="col-md-4 control-label">Company Type</label>
          	<div class="col-md-4 inputGroupContainer">
          		<div class="input-group">
          			<input type="text" class="form-control" placeholder="Private or Public etc." name="companyType" ng-model="createCompanyForm.companyType" required >
              		<span class="help-block has-error" ng-if="createCompany.companyType.$dirty">
              			<span ng-show="createCompany.companyType.$error.required">Company type is required.</span>            
            			</span>
      			</div>
    			</div>          
          </div>

          <div class="form-group" ng-class="{'has-error':createCompany.industryType.$invalid && createCompany.industryType.$dirty}">
          	<label class="col-md-4 control-label">Industry Type</label>
          	<div class="col-md-4 inputGroupContainer">
          		<div class="input-group">
          			<input type="text" class="form-control" placeholder="Software or Hardware etc." name="industryType" ng-model="createCompanyForm.industryType" required >
              		<span class="help-block has-error" ng-if="createCompany.industryType.$dirty">
              			<span ng-show="createCompany.industryType.$error.required">Industry type is required.</span>     
            			</span>
      			</div>
    			</div>          
          </div>

          <div class="form-group">
    			<label class="col-md-4 control-label"></label>
    			<div class="col-md-4">
    				<button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="createCompany.$invalid || isCompanyExist || isCompanyWebsiteExist || !isValidWebsite" ng-click="createNewCompany()">
  	        		<span ng-hide="createCompanyForm.loading">Create Company <span class="glyphicon glyphicon-send"></span></span>
  	        		<span class="overlord-loading-spinner fa fa-spinner" ng-show="createCompanyForm.loading" > <span class="glyphicon glyphicon-send"></span></span>
  	        		<span ng-show="createCompanyForm.loading">Preparing your new company...<span class="glyphicon glyphicon-send"></span></span>
        			</button>
        			<a href="#/companies" class="btn btn-primary btn-lg btn-block">Back</a>
    			</div>
  		</div>
  	</form>    
  </div>
</fieldset> 